@media (max-width: 1220px) {
  .publicacoes {
    width: 75%;
    margin: 1rem 12%;
  }
}

@media (min-width: 1200px) {
  .publicacoes {
    width: 45%;
    margin: 1rem 8rem;
  }
}

.publicacoes {
  background-image: linear-gradient(#ffffff, #eaeaea);
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.05rem 0.5rem 0rem #414141;
}

.img__name {
  display: flex;
  align-items: center;
}

.img__name > p {
  margin-left: 0.7rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

.publicacoes > p {
  padding: 0.7rem;
}

.icons-edit-delete{
 display: flex;
 justify-content: flex-end;
}

.icon{
   font-size: x-large;
   padding: .3rem;
   border-radius: .5rem;
}

.icon:hover{
  cursor: pointer;
  background-color: #00000010;
}

.icon-edit{
  border: none;
  color: rgb(18, 130, 18);
}

.icon-delete{
  border: none;
  color: rgb(160, 1, 1);
}